<header class="w-100 h-100 bg-dark px-4 my-shadow d-flex justify-content-around">
    <div class="text-light fs-2 fw-bold fst-italic">
        <span>Shopping Point</span>
    </div>

    <div class="btn-toolbar" role="toolbar">
        
        <div class="btn-group btn-group-lg me-3" role="group">
           <div type="button" class="btn btn-outline-light" routerLink="/home">Home</div>
        </div>

        <div class="btn-group btn-group-lg me-2" role="group">
         <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">Categries</button>
          <ul class="dropdown-menu fs-5">
             
                <!-- [NavigationItem] est une classe Model qui aura la responsabilit de gerer
                l'affichage des categories et des produit qui leurs sont associer -->
             <ng-container *ngFor="let item of navigationList; let i=index;">
                    <!-- show category -->
                    <!-- 'titlecase' pipe '|' and use to changes the first letter of each word into the uppercase. -->
                <li class="text-center fw-bold">{{item.category | titlecase}}</li>
                
                    <!-- show subcategories -->
                <li *ngFor="let subcategory of item.subcategories" [style.cursor] ="'pointer'">
                         
                    
                    <!-- A revoir pour afficher et obtenir le(s) Produits d'une categorie Specifique -->
                        <!-- [OpenProducts il s'agit d'une directive qui a été ajouté grâce a (ng) afin de gerer la navigation coté route] -->
                    <a class="dropdown-item" OpenProducts [category]="{id:0, 'category': item.category, 'subcategory': subcategory}">
                        {{subcategory | titlecase}}
                    </a>

                </li>

                <!-- la technique appliquer ici est que la longueur de 2 item egale 2
                cependant l'index lui commence a partir de Zero en programmation donc .. -->
                <li *ngIf="i!=navigationList.length-1">
                    <hr class="dropdow-divider">
                </li>

            </ng-container>
          </ul>
        </div>
        <div class="btn-group btn-group-lg me-2" role="group">
            <button type="button " class="btn btn-outline-light">Login</button>
            <button type="button " class="btn btn-outline-light">Register</button>
            <button type="button " class="btn btn-outline-light">Accout</button>
            <button type="button " class="btn btn-outline-light" routerLink="/cart">Cart</button>
            <button type="button " class="btn btn-outline-light" routerLink="/orders">Orders</button>
            <button type="button " class="btn btn-outline-light">Log-Out</button>
        </div>
    </div>
</header>
