<div class="mt-5"></div>
<app-home></app-home>

<!-- <app-suggested-products></app-suggested-products> -->
    
<!-- easily make an element as wide(aussi large) or as told(ou aussi haut)(relative to its parent) with our width and height utilities

      x - for classes that set both *-left and *-right (Abscissa)
      y - for classes that set both *-top and *-bottom (orderly)
      mx-auto pour centrer un item automatiquement suvie de la taille width(%) par rapport a  la taille de l'ecran
    -->
    <!-- <div class="mx-auto" style="width:75%;">
        <app-product></app-product>
    </div> -->



