<!-- --------------------------------------------Partie 1: [create a grid-view]-------------------------------------------------- -->

<div class="grid-view" *ngIf="view=='grid'">
<div class="card text-center">
  <!-- Here, we will use .fw-bold class to make a bold text. -->
  <!-- font-weight: bold; (fw-b) and fs-5 is equivalent of font-size:5px;-->
    <div class="card-header fw-bold fs-5 text-success">
      Header
    </div>
     
    <!-- image container between card-header and card-body (my-2) allows to define both margin-top ang margin bottom -->
     <div>
      <!-- img-fluid works by making the image cover 100% width of the parent element (max-width: 100%;) and having its height scale automatically (height: auto;) 
           in relation to the image width. -->
      <img class="overflow-hidden d-flex  justify-content-center align-items-center card-img-top"  src="../../assets/Images/mobiles/10/1.jpg" alt="Produit Image"
      OpenProductDetails [productId]="1"/> 
     
     </div>

     <!-- End image item -->
  
    <div class="card-body">

      <h5 class="card-title">Title</h5>
      <!-- x - for classes that set both *-left and *-right (Abscissa)
           y - for classes that set both *-top and *-bottom (orderly) -->
      <h6 class="card-subtitle my-2 text-primary">12 produits are available</h6>
      <p class="card-text Description">Text</p>

    </div>

    <div class="card-body">

        <h5 class="card-title text-success">final price <span class="text-primary"> -20¨%</span> </h5>

        <h6 class="card-subtitle text-danger text-decoration-line-through ">Original Price</h6>
    </div>

     <!-- explanation : 'd-grid' adds the CSS property 'display: grid' -->
     <!-- When using display: grid, you can make use of gap utilities on the parent grid container. 
        This can save on having to add margin utilities to individual grid items -->
             <!-- NB : << gap-* >> => ecart entre les colonne  -->
    <div  class="card-footer d-grid gap-2">
    <button type="button" class="btn btn-outline-success">Add To Card</button>
    </div>

  </div>


</div>

<!-- -----------------------------------------------------Partie 2 : [create a list-view]------------------------------------------------ -->

<div class="list-view" *ngIf="view=='list'">

 <div class="card">
  <!-- we will use row,col systèm, because we want to display elements side by side(next to each other) -->
    
  <!--  --row--    -->
   <div class="row">
      
     <!-- ----------------[First col]----------- -->
         <!-- on accorde a l'image un nombre de colonne bien specifique -->
    <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
          <img src="../../assets/Images/mobiles/10/1.jpg" alt="Produit Image" class="img-fluid rounded-stard" OpenProductDetails [productId]="1" />
    </div>
    
      <!-- ---------------[second col]---------- -->
         <!-- on va deleger le reste de colonne a la description du produit -->
    <div class="col d-flex flex-column">

         <!-- header -->
      <div class="card-header text-center">
            Header
      </div>
        
        <!-- body for description -->
      <div class="card-body">
        <div class="card-title title">Title</div>
        <p class="card-text description">Description</p>
        <h6 class="card-subtitle mb-3 text-primary"> 11 products are available</h6>
      </div>
       
      <!-- Body for promotion -->
      <div class="card-body">
        <h4 class="card-title text-muted">
          Pricing
        </h4>
        <h2 class="card-title text-success">final price<span class="text-primary"> -20¨%</span> </h2>
        <h5 class="card-subtitle text-danger text-decoration-line-through ">Original Price</h5>
      </div>
         
      <!-- Footer using grid css système-->
           <!-- << gap-* >> => ecart entre les colonne  -->
      <div  class="card-footer text-muted  d-grid gap-2">
        <button type="button" class="btn btn-outline-success">Add To Card</button>
      </div>
    </div>
  </div>
 </div>

</div>

<!-- ------------------------------------------------------Partie 3 : [cart Item View]------------------------------------------------ -->
<div class="cart-item-view" *ngIf="view=='currentCartItem'">
    <div class="card">
      <div class="row g-0">
        
          <!-- [col-1] -->
        <div class="col-4 overflow-hidden d-flex justify-content-center align-items-center">
             <img src="../../assets/Images/mobiles/10/1.jpg" alt="Product Image" class="img-fluid rounded-stard" OpenProductDetails [productId]="1"/>
        </div>
         
        <!-- [col-2] -->
        <div class="col-8">
          <h5 class="card-title title"> title</h5>
          <h5 class="card-title text-success">Final Price
            <span class="text-primary">$ 11 Products are available</span>
          </h5>
          <h6 class="card-subtitle text-danger text-decoration-line-through">Original Price</h6>
         </div>

         <div class="card-footer text-muted d-grid gap-2">
          <button class="btn btn-outline-danger">Remove from Cart</button>
         </div>
      </div>
    </div>
</div>

<!-- ------------------------------------------------------Partie 4  : [ Preview cart Item ]------------------------------------------------ -->
<div class="cart-item-view" *ngIf="view=='previewCartItem'">
  
  <div class="card text-center">

        <div class="overflow-hidden d-flex justify-content-center align-items-center">
          <img src="../../assets/Images/mobiles/10/1.jpg" alt="" class="card-img-top" OpenProductDetails [productId]="1"/>
        </div>

        <div class="card-body">
          <h5 class="card-title title">Title</h5>
        </div>
  </div>
</div>